.input {
    font-size: 1.2rem;
    padding: 8px 8px;
    border-radius: 4px;
    border: 2px solid transparent;
    padding-bottom: 4px;
}

.input:focus {
    outline: none;
}

.bordered {
    border: 2px solid rgb(199, 199, 199);
}